{% extends "base.html" %}
{% block title %}NLHPC{% endblock %}
	{% block content %}
	<div class="col-sx-12 {% if small %} col-md-6 {% else %} col-md-12 {% endif %}">
		<ol class="breadcrumb white-bg box-border">
			<li><a href="/accounting/">Dashboard</a></li>
			<li class="active">Listado de {{ id }}</li>
		</ol>
		
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4><i class="glyphicon glyphicon-user"></i> Listado de {{ id }}
				<a href="add" class="btn btn-large btn-success pull-right"><i class="glyphicon glyphicon-plus" style="color:#fff;"></i> Agregar</a></h4>
			</div>
			<div class="panel-body">
				<form action="" method="POST" class="form">
				<div class="col-md-12 form-fields">
					<div class="row table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>Nombre de la cuenta</th>
									<th>Descripcion</th>
									<th>Organizacion</th>
									<th>Cluster</th>
									<th>Cuenta padre</th>
									<th>QoS</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for name, desc, org, cluster, parent, qos in accounts %}
								<tr>
									<td>{{ name }}</td>
									<td>{{ desc }}</td>
									<td>{{ org }}</td>
									<td>{{ cluster }}</td>
									<td>{{ parent }}</td>
									<td>{{ qos }}</td>
									<td>
										<a href="edit/{{ name }}" class="btn btn-primary white"><i class="glyphicon glyphicon-pencil" style="color:#fff;"></i></a>
										<a href="delete/{{ name }}" class="btn btn-danger white"><i class="glyphicon glyphicon-remove" style="color:#fff;"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div><!-- /col-md-12 -->
			</div><!-- /panel-body -->
		</div><!-- /panel -->
		</form>
	</div><!-- /col-sx-12 -->
	{% endblock %}
